apiVersion: apps/v1
kind: deployment
metadata:
  name: webapp
spec:
  replicas: 2
  selector:        # tells the controller which pods to manage
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: reshma8466004811/pipeline-demo
        imagePullPolicy: Always
        ports:
        - containerPort: 80
